body{
    background-color: lightgray;
    background-attachment: static;
}

.contenedor{
   
  
    
    }
    
}

.img{
    width: 180px;
    float: center;

}

.container{
    
      display: flex;
      align-content: center;
    align-items: center;
    margin-bottom: 10%;
    width: 80%;
  
        
    }


  
.card{
    
    margin-left: 3%;
    
    padding: 20px;   

    transition: all 500ms ease;
    
    font-family: Poetsen One;
    
    font-size: 20px;    
    
    border: black solid 2px;
    
    box-shadow: 5px 5px 5px #000;
    
    height: 380px;
    
    width: 220px;
    
    
    
     
     }
.bachi{
    
    float: center;
    background-color: gray;
    color: black;
    text-align: center;
    align-content: center;
    align-items: center;
    
    
}


    
    


    
.card-title{
    
    font-size: 16px;
    
} 


   
    
    
}
        
.texto{
    
    text-align: center;
    width: 30%;
    height: 50%;
    
    
       
    }



.imagenes{
    
   font-family: Elephant;
    font-size: 15px;
 

}



.temas{
    
    float: center;
    align-content: center;
    
    background-color: antiquewhite;
    
    
    
}

.card1{
    
      border: black 1px solid;
    border-radius: 4px;
    padding: 2%;
    
    
    
}

.foto1{
    float: left;
    border-radius: 10px;
    margin-top: 10%;
    
    
    
}






.navbar-brand{
    
    margin-left: 33%;
    float: right;
font-family: Poetsen One;
    
    
    
}
.navbar{
    height: 40px;
    border-bottom: 1px black solid;
}
.barra_navegacion{
    
    height: 60px;
}

.navbar1{
    background-color: #6aa9e9;
    
    color: black;
    height: 80px;
    margin-bottom: 1px;
   
   
}

.izquierda{
    margin-left: 50px;
}
.derecha{
    float: right;
    margin-right: 50px;
    
    
    
}


.derecha1{
    margin-left: 30px;
    margin-top: 15px;
    width: 30px;
    cursor: pointer;
    
    
    
    
}
.logo{
    width: 80px;
   
    
}
.instituto{
    margin-left: 5%;
    
    
    
}


.navbar-brand{
  justify-content: center;
     
    font-family: Poetsen One;
    
    transition: all 500ms ease;
    
    color: black;
    margin-left: 100px;
   
    
    
    
}

.navbar-brand:hover{
    
  
  color: black !important;
    transform: translateX(0.10em);
    border-radius: 5px;
    
}
.nav-link dropdown-toggle:hover{
    
    
  color: black !important;
    transform: translateX(0.15em);
    border-radius: 5px;  
    margin: 20px;
}
.nav-item dropdown{
    background-color: lightblue;
  color: black !important;
    transform: translateX(0.10em);
    border-radius: 5px;
    
    
}

.inst{
   
    font-family: Poetsen One;
    margin-left: 60px;
    
}
.container-fluid{
   
   
    font-family: Franklin Gothic Heavy;
 
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 0;
    z-index: 1000;
    height: 100px;
    

    
   
    
    
}

.logo{
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    
   
        
    }


#btn-mas{
    display: none;
    

    
    
}
.contenido_redes{
    position: fixed;
    bottom: 5px;
   right: -200px;
    
    
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background-color: deepskyblue;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    transition: all 500ms ease;
    
    
}
.redes a:hover{
    
    background-color: none;
    
}
.redes a{
    
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    
    opacity: 1;
    visibility: visible;
    
}
.btn-mas label{
    cursor: pointer;
   margin-bottom: 10px;
    
}


.iconos_redes{
  width: 60%;
    
    margin-bottom: 5px;
    align-content: center;
}

.card-img-top{
    border: 2px black solid; 
    
    
}
.card-body{
    
    text-align: center;
    
}
    

    
}
.img-fluid{
    
    border: 1px gray solid; 
    
    box-shadow: 5px 5px 5px;
    
    
    
 
    
}
.cartas{
    display: flex;
    font-size: 10px;
}



.contenedor{
    background-color: skyblue;
    padding: 3%;
    height: 1000px;
    margin: 5%;
    border-radius: 7px; 
    box-shadow: 5px 5px 5px;
    border: black 2px solid;
    
    
    
}

.datos{
    background: rgb(126,199,221);
background: linear-gradient(348deg, rgba(126,199,221,1) 21%, rgba(230,241,245,1) 49%, rgba(91,204,224,1) 87%);
    width: 40%;
    padding: 1%;
     border-radius: 5px;    
    
    box-shadow: 5px 5px 5px;
    border: black 2px solid;
}

.header{
    
    
    float: right;
    align-content: center;
     padding: 3%;
    border-radius: 15px; 
    
        
        
    
}
.division2{
    background-color: lightblue;
    width: 40%;
    padding: 1%;
     border-radius: 5px;    
    
    box-shadow: 5px 5px 5px;
    border: black 2px solid;
    }


.division1{
    float: right;
  background-color: lightblue;
    width: 40%;
    padding: 1%;
    
     border-radius: 5px;    
    
    box-shadow: 5px 5px 5px;
    border: black 2px solid;
    
}




.fotosdiv{
    width: 90%;
    margin: 5%;
    
    
    
    
}
.contenedor_eventos{
       background-color: skyblue;
    padding: 3%;
    height: 1300px;
    margin: 5%;
    border-radius: 7px; 
    box-shadow: 5px 5px 5px;
    border: black 2px solid;
    
     
}


